<div class="header">
    ABOUT
</div>


<div class="large-text bold">
    This clock counts down 10 seconds per day until the election on November 4, 2020.
</div>


<div class="large-text bold">
    Inspired by the
    <a class="no-underline" target="_blank" href="assets/Bulletin-of-the-Atomic-Scientists_june1947.jpeg">
        Doomsday Clock </a>
    published by the Bulletin of the Atomic Scientists during the Cold War.
</div>
<div style="display:inline-block">


    <div class="float-icon">
        <a target="_blank" href="https://github.com/bajohn" class="default-color">
            <img class="github-img" src="assets/github.png">
        </a>
    </div>
    <div class="float-icon">
        <a target="_blank" href="https://twitter.com/TuvoLLC" class="default-color">
            <img class="github-img" src="assets/twitter.png">
        </a>
    </div>

</div>