<div class="header">
    DOOMLECTION DAY COUNTDOWN
</div>

<div>
    <!-- {{clockHour()}}:{{clockMinute()}}:{{clockSeconds()}} -->
    <div class="large-text bold">
        There are {{timeService.remainingTimeText()}} until midnight.
    </div>
    <div class="large-text bold">
        <!-- <a class="no-underline" href="http://register.rockthevote.com/"> Have you registered to vote?</a> -->
        <a class="no-underline" target="_blank" href="https://www.usa.gov/register-to-vote"> Have you registered to vote?</a>
    </div>
</div>