<div class="page">

  <div style="width:100%;">

    <svg version="1.1" id="Image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 100 80">
      <title>
        {{timeService.clockHour()}}:{{timeService.clockMinute()}}:{{timeService.clockSeconds()}}
      </title>
      <!-- From default, we subtracted 20 from x and 30 from y -->
      <circle cx="60" cy="10" r="6" fill="white" />
      <circle cx="35" cy="16.699" r="6" fill="white" />
      <circle cx="16.699" cy="35" r="6" fill="white" />
      <circle cx="10" cy="60" r="6" fill="white" />

      <circle cx="60" cy="60" r="4" fill="#333333" />

      <line x1="60" y1="60" x2="60" y2="10" stroke="#333333" stroke-width="4"
        [attr.transform]="timeService.minuteHandRotation()" />
      <line x1="60" y1="60" x2="60" y2="20" stroke="#333333" stroke-width="4"
        [attr.transform]="timeService.hourHandRotation()" />
    </svg>

  </div>



  <router-outlet></router-outlet>
  <div>
    <div class="float-icon">
      <a href="" class="default-color">
        <fa-icon class="fa-3x" [icon]="clockIcon"></fa-icon>
      </a>
    </div>
    <div class="float-icon">
      <a href="about" class="default-color">
        <fa-icon class="fa-3x" [icon]="questionIcon"></fa-icon>
      </a>
    </div>
    <div class="float-icon">
      <a target="_blank" href="https://github.com/bajohn" class="default-color">
        <img class="github-img" src="assets/github.png">
      </a>
    </div>
    <div class="float-icon">
      <a target="_blank" href="https://twitter.com/TuvoLLC" class="default-color">
        <img class="github-img" src="assets/twitter.png">
      </a>
    </div>
  </div>


</div>